player-connection-mode=Listen
player-connection-guid=2592392198
player-connection-debug=0
player-connection-project-name=2200003872_TranLeHoangHuy_DoAnChuyenNganh
player-connection-ip=192.168.1.125
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=35dd6d477a8f4592bf91611988c9a86d
